.admin-block {
    position: fixed;
    left: 10px;
    top: 50%;

    background-color: #FFFFFF;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.admin-block > p {
    background-color: #87a4c5;
    margin: 0 0;
}


.administration-menu {
    padding: 0 0;
}

.administration-menu-item {
    background-color: #87a4c5;
    padding: 5px 20px 0 20px;

    border-bottom: 1px solid #5b8fc4;

    transition: background-color .2s linear;
}

.administration-menu-item:hover {
    background-color: #5b8fc4;
}

.administration-menu-item p {
    color: #FFFFFF;
    font-family: UZSans-Bold, serif;
    font-size: 1.2em;
}