.menu-header-block {
    max-height: 50px;
    position: fixed;
    background-color: #042439;
}

.menu-header-content {
    color: #FFF;
    max-width: 1000px;

    display: flex;
    flex-direction: row;
}

.menu-tab {
    background-image: url("../../images/icons/menu/menu-icon.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 24px !important;
    height: 24px !important;
    margin: 5px !important;
    cursor: pointer;
}

.menu-separator {
    max-width: 0 !important;
    width: 0 !important;
    border-left: 1px solid #FFFFFF;
    margin-top: 12px !important;
    margin-bottom: 12px !important;
    margin-right: 5px !important;
    padding-right: 0 !important;
}

.menu-wide-bar {
    padding-left: 0 !important;
}

.search-input-box {
    margin-top: 5px !important;
    background-color: rgba(255,255,255,0.8);
    height: 24px;
    color: #000;

    display: flex;
    flex-direction: row;

    padding: 0 !important;
    cursor: pointer;

    border-radius: 3px;
}

.search-input-box-focuses {
    margin-top: 5px !important;
    background-color: rgba(255,255,255,1);
    height: 24px;
    color: #000;

    display: flex;
    flex-direction: row;

    padding: 0 !important;
    cursor: pointer;

    border-radius: 3px;
}

.search-icon {
    background-image: url("../../images/icons/menu/search-icon-black.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 16px;
    width: 16px !important;
    margin: 5px 4px 4px;
}

.search-input-field {
    border: none;
    outline: none;
    border-radius: 3px;
}

.search-input-field:focus {
    outline: none;
    border-radius: 3px;
}

.search-input-field-unfocuses {
    background-color: rgba(255,255,255,0.1);
    border: none;
    width: 100%;
    color: black;
}

.search-input-field-focuses {
    width: 100%;
    background-color: #FFFFFF;
}

.user-pref-tab {
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.user-avatar {
    background-image: url("../../images/icons/menu/user-icon-white.png");
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 5px;
}
.user-name-block {
    margin: 3px;
    font-size: 16px;
}