@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.tasks-block {
    max-width: 900px;

    background-color: #FFFFFF;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

.tasks-block-loading-block {
    width: 100%;
    aspect-ratio: 1/0.3;
    margin: 0 auto;
}

.tasks-block-loader {
    width: 25%;
    aspect-ratio: 1/1;
    margin: auto auto;

    border: 20px solid #fafafa;
    border-top: 20px solid #7c79c9;
    border-radius: 50%;
    animation: spin 1.5s linear infinite;
}

.tasks-top-menu {
    padding-top: 5px;
    margin: 5px;
    border-bottom: 1px solid #cdcdcd;
}

.tasks-menu-panel {
    border-left:  1px solid #cdcdcd;
}

.tasks-menu-panel:first-child {
    border-left: none;
}

.tasks-edit-panel {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.tasks-edit-btn {
    border: none;
    border-left: 1px solid #cdcdcd;

    background-size: contain;
    background-repeat: no-repeat;
    background-color: #FFFFFF;

    width: 24px;
    height: 24px;
    transition: background-color .2s linear;
    cursor: pointer;

}

.tasks-edit-btn:first-child {
    border-left: none;
}

.tasks-edit-btn-add {
    background-image: url("../../images/icons/plus-azure.png");
}

.tasks-edit-btn-add:hover {
    background-image: url("../../images/icons/plus-hover.png");
    background-color: #82ff9f;
}

.tasks-edit-btn-add-disabled {
    background-image: url("../../images/icons/tasks-plus-disabled.png");
}

.tasks-edit-btn-done {
    background-image: url("../../images/icons/checkbox-azure.png");
}

.tasks-edit-btn-done:hover {
    background-image: url("../../images/icons/checkbox-white.png");
    background-color: #82ff9f;
}

.tasks-edit-btn-done-disabled {
    background-image: url("../../images/icons/tasks-marker-disabled.png");
}

.tasks-edit-btn-remove {
    background-image: url("../../images/icons/cross-azure.png");
}

.tasks-edit-btn-remove:hover {
    background-image: url("../../images/icons/cross-white.png");
    background-color: #82ff9f;
}
.tasks-edit-btn-remove-disabled {
    background-image: url("../../images/icons/tasks-cross-disabled.png");
}

.tasks-edit-add-btn:hover {
    background-image: url("../../images/icons/plus-hover.png");
}

.tasks-edit-done-btn {
    background-image: url("../../images/icons/done-azure.png");
}

.tasks-edit-done-btn:hover {
    background-image: url("../../images/icons/done-hover.png");
}

.tasks-edit-del-btn {
    background-image: url("../../images/icons/cross-azure.png");
}

.tasks-edit-del-btn:hover {
    background-image: url("../../images/icons/cross-hover.png");
}

.tasks-info-panel {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.tasks-info-panel p {
    margin: 0;
    text-align: center;
    padding-right: 5px;
}

.tasks-info-text {
    color: #7c79c9;
    font-size: 12px;
}

.tasks-filter-panel {
    height: 24px;
    padding: 0;
}

.tasks-filter-tab {
    margin: 0;
    padding: 0;
    text-align: center;
    border-right: 1px solid #cdcdcd;
    cursor: pointer;
    transition: background-color .2s linear;
}
.tasks-filter-tab:last-child {
    border-right: none;
}

.tasks-filter-tab:hover {
    background-color: #7c79c9;
}

.tasks-filter-tab-text {
    color: #7c79c9;
    font-size: 22px;
    font-family: UZSans, serif;
    line-height: 24px;
}

.tasks-filter-tab-text:hover {
    color: #FFFFFF;
}

.tasks-footer {
    background-color: #87a4c5;
    text-align: center;
    cursor: pointer;
    transition: all .2s linear;
}

.tasks-footer:hover {
    background-color: #5b8fc4;
}


.tasks-footer-text {
    color: #FFFFFF;
    font-family: UZSans-Bold, sans-serif;
    font-size: 24px;
}