.taskBlock {
    width: 99%;
    margin-left: 0.5%;
    border-bottom: 1px solid #cdcdcd;
    position: relative;
}

.task-selector-block {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    padding: 0 0;
}



.task-selector-checkbox {
    appearance: none;
    position: absolute;
    width: 30%;
    aspect-ratio: 1/1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}



.task-selector-checkbox:before {
    content: "";
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #cdcdcd;
    border-radius: 4px;

}

.task-selector-checkbox:before {
    content: "";
    position: absolute;
    width: 100%;
    aspect-ratio: 1/1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #cdcdcd;
    border-radius: 4px;
    transition: border .2s linear;
}

.task-selector-checkbox:hover::before {
    border: 3px solid #7c79c9;
}

.task-selector-checkbox:checked::before {
    border: 3px solid #7c79c9;
}

.task-selector-checkbox:checked::after {
    content: "";
    position: absolute;
    width: 60%;
    aspect-ratio: 1/1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #7c79c9;
    border-radius: 3px;
}

.task-menu {
    position: absolute;
    right: 5px;
    top: 5px;
}

.task-control-button {
    fill: #cdcdcd;

    cursor: pointer;
    width: 20px;
    aspect-ratio: 1/1;

    transition: fill .2s linear;
}

.task-control-button:hover {
    fill: #000000;
}

