@font-face {
    font-family: 'Hack';
    src: local('Hack'), url("../fonts/Hack-Regular.ttf");
}

@font-face {
    font-family: 'UZSans';
    src: local('UZSans'), url("../fonts/UZSans-Regular.ttf");
}

@font-face {
    font-family: 'UZSans-Bold';
    src: local('UZSans-Bold'), url("../fonts/UZSans-Bold.ttf");
}

body {
    margin: auto;
}

a {
    color: blue;
}

a:link { text-decoration: none; }

a:visited { text-decoration: none; }

a:hover { text-decoration: none; }

a:active { text-decoration: none; }

*.focus {
    outline: none;
}


.red-loader,
.red-loader:after {
    border-radius: 50%;
    width: 20em;
    height: 20em;
}
.red-loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 2em solid #db655c;
    border-right: 2em solid #989c9920;
    border-bottom: 2em solid #989c9920;
    border-left: 2em solid #989c9920;
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    animation: load8 2s infinite linear;
}

.purple-loader {

    border-radius: 50%;
    border-style: solid;

    border-top-color: #7c79c9;
    border-right-color: #989c9920;
    border-bottom-color: #989c9920;
    border-left-color: #989c9920;

    animation: load8 2s infinite linear;
}

@-webkit-keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.strikethrough-text {
    text-decoration: line-through;
    text-decoration-thickness: 5%;
}
