.task-view {
    width: 98%;
    margin: 0 auto;
    position: relative;
    border-bottom: 1px solid #cdcdcd;

    display: flex;
    flex-direction: row;

    padding: 10px 0;
}

.task-view-loader {
    width: 40px;
    aspect-ratio: 1/1;
    border-width: 4px;
    margin: 0 auto;
}

.task-view-content {
    width: 100%;
}

/* =================== TaskSelector classes ====================== */
.task-selector-inp {
    cursor: pointer;
    appearance: none;
    border: 1px solid #cdcdcd;
    width: 2%;
    height: 18px;
    margin: 0.5% 1% auto 0;
    transition: all .1s linear;
}

.task-selector-inp:hover {
    border: 3px solid #7c79c9;
}

.task-selector-inp:checked {
    background-color: #7c79c9;
    border: 3px solid #7c79c9;
}
/* ====================== TaskPropertiesPanel classes =================== */
.task-properties-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.task-properties-panel textarea:not(:first-child) {
    margin-top: 5px;
    padding: 0 2px;
}

/*
.task-property-area {
    border: none;
    overflow: hidden;
    resize: none;

    background-color: #eae8e8;
}
*/

.task-property-area:disabled {
    background-color: #FFFFFF;
}

.task-name-property-field {
    font-family: Mulish, sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 20px;
    color: #000000;
}

.task-name-property-field::before {
    content: "";
    padding: 5px;
}

.task-desc-property-field:disabled {
    font-family: Bitter, serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 20px;
    color: #444242;
}


.task-date-properties-panel {
    display: flex;
    flex-direction: row;

    border-top: 1px solid #cdcdcd;
    margin-top: 5px;
}

.date-property-section {
    display: flex;
    flex-direction: row;

    width: 50%;
}

.date-property-section p {
    margin: 0;
    height: 24px;
    font-family: Bitter, serif;
    font-size: 14px;
    color: #999999;
    line-height: 28px;
    padding-left: 2px;
}

.react-datepicker-wrapper {
    width: max-content !important;
    margin: 0;
}

.task-property-date-input {
    border: none !important;
    text-align: left !important;
    background-color: #eae8e8;
    padding-left: 0;
    margin-left: 5px;
    color: #999999;
    font-family: Bitter, serif;
    font-size: 14px;
}

.task-property-date-input:disabled {
    background-color: #fff;
    color: #999;
}
/* ====================== End of TaskPropertiesPanel classes =================== */
/* ====================== TaskControlMenu classes =================== */
.task-control-menu {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
}

.control-btn {
    width: 18px;
    aspect-ratio: 1/1;
    cursor: pointer;
    fill: #cdcdcd;
    transition: all .2s linear;
}

.control-btn:hover {
    fill: #000000;
}
/* ====================== End ofTaskControlMenu classes =================== */

.task-editor-control-panel {
    border-top: 1px solid #cdcdcd;
    padding: 3px 0;
}

.task-editor-control-button {
    background-color: #7c79c9;
    border: none;
    padding: 0 10px;

    font-family: UZSans, sans-serif;
    font-weight: 700;
    font-size: 0.9em;
    color: #fff;

    transition: all .2s linear;
}

.task-editor-control-button:hover {
    background-color: #403e66;
}

.task-editor-control-panel .task-editor-control-button:not(:first-child) {
    margin-left: 5px;
}

.linethrough-text {
    text-decoration: line-through;
}

.task-property-area:disabled {
    border: none;
    resize: none;
    overflow: hidden;
}

.task-name-property-area {
    font-family: Mulish, sans-serif;
    font-size: 12pt;
    font-weight: 600;
    color: #000000;
}

.task-desc-property-area {
    font-family: Mulish, sans-serif;
    font-size: 12pt;
    color: #777474;
}












.text-task-property-p {
    margin: 0;
}

.text-task-property-p-name {
    font-family: Mulish, sans-serif;
    font-weight: 700;
    font-size: 13pt;
    color: #000000;
}

.text-task-property-p-desc {
    font-family: Bitter, serif;
    font-size: 12pt;
    color: #777474;
    line-height: 20pt;
}

.text-task-property-ta {
    resize: none;
    border: none;
    border-bottom: 1px solid #cdcdcd;
}

.date-task-properties-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date-task-properties-panel p {
    height: max-content;
    margin: 0;
    font-family: Bitter, serif;
    font-size: 12pt;
    color: #777474;
}




/* ================================================================================================================
 * =============================== TASK VIEW ADDING BLOCK =========================================================
 * ================================================================================================================
 */

.task-view-adding-block {
    height: 0;
    overflow: hidden;
    transition: all .1s linear;
}
.adding-block-showed {
    width: 94%;
    margin: auto;
    height: 220px;
    box-sizing: border-box;
    border-bottom: 1px solid #cdcdcd;
    padding: 0 1%;
    display: flex;
    flex-direction: column;
}
.adding-block-showed > p {
    font-family: Mulish, sans-serif;
    font-size: 14pt;
    font-weight: 700;
    margin: 10px 0 0 0;
}
.task-name-textarea, .task-name-textarea:focus, .task-name-textarea:active {
    font-size: 13pt;
}
.task-desc-textarea, .task-desc-textarea:focus, .task-desc-textarea:active {
    font-size: 12pt;
}
.adding-block-showed textarea, textarea:active, textarea:focus {

    margin-top: 15px;
    padding: 0 1%;
    border: none;
    border-bottom: 1px solid #cdcdcd;
    resize: none;
    outline: none;
    overflow: auto;

    font-family: Bitter, serif;
    font-weight: 500;
    height: 20pt;
    color: #5b5b5b;
    transition: all .1s linear;
}
.adding-block-showed textarea:active, textarea:focus {
    border-color: #000000;
    color: #000000;
}
.task-completion-input {
    border: 1px solid #cdcdcd !important;

    display: block;

    margin-top: 15px;
    padding: 0;
    text-align: left;

    font-size: 11pt !important;
    color: #777474 !important;
    transition: all .1s linear;
}
.react-datepicker-wrapper {
    width: 60px !important;
}
.task-completion-input:focus, .task-completion-input:active {
    border: 1px solid #000000 !important;
    color: #000000 !important;
}
.adding-block-controls {
    margin: 15px 0 0 0;
    display: flex;
}
.add-blk-ctrl-btn {

    border: none;
    outline: none;

    font-family: Mulish, sans-serif;
    font-size: 14pt;
    font-weight: 700;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 5px 40px;

    margin-left: 10px;
    transition: all .2s linear;
}
.adding-block-controls .add-blk-ctrl-btn:first-child {
    margin-left: 0;
}
.add-blk-ctrl-btn-create {
    background-color: #7c79c9;
}
.add-blk-ctrl-btn-create:hover {
    background-color: #403e66;
}
.add-blk-ctrl-btn-cancel {
    background-color: #ff595e;
}
.add-blk-ctrl-btn-cancel:hover {
    background-color: #b13639;
}

/* ================================================================================================================
 * =============================== TASK VIEW EDITING BLOCK =========================================================
 * ================================================================================================================
 */
.task-view-editing-block {
    width: 94%;
    margin: auto;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 0 1%;
}

.task-view-editing-block p {
    font-family: Mulish, sans-serif;
    font-size: 14pt;
    font-weight: 700;
    margin: 10px 0 0 0;
}

.task-view-editing-block textarea {
    resize: none;
    outline: none;
    overflow: auto;
    border: none;

    font-family: Bitter, serif;
    margin: 10px 0 0 0;
}