.menu-horizontal {
    display: flex;
    flex-direction: row;
}

.menu-vertical {
    display: flex;
    flex-direction: column;
}

.menu-item {
    cursor: pointer;
}

.menu-item-p {
    user-select: none;
    margin: 0 0;
}