<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign</title>
</head>
<body>
    <h1> Registration form </h1>
    <form method="post" th:action="@{/sign/register-account}" th:object="${dto}">
        <label> Your name: <input type="text" th:field="*{userName}" /> </label>
        <label> Your email: <input type="text" th:field="*{accountEmail}" /> </label>
        <label> Your password: <input type="password" th:field="*{accountPassword}" /> </label>
        <input type="submit" value="Sign up">
    </form>
    <hr>

</body>
</html>